<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About Me</h2>
        <hr />
      </div>
    </div>
    <div class="row">
	    <div class="col-sm-6">
    		<p>
            I have over 2 years of experience working as a software engineer at Infosys and as a Technical Analyst at Amazon. While i'm a proficient full-stack developer, 
	    my expertise is in building back-end services. I'm currently a graduate student pursuing my Master's degree in Computer Science. 
        </p>
        <p>
	I have developed User interface, server-side design and core modules of web applications in an Agile environment using Test driven development approach.
        I like building things and i find it interesting to solve challenging problems at work. I'm currently seeking employment opportunities. 
		    </p>
		    <p> <h2> Technologies : </h2> Java, C++, JavaScript, SQL, Node.js, MongoDB, Python, Linux</p>
		    <p>Check out my <a href = "https://www.linkedin.com/in/shridhish/
"> Linkedin </a> profile for more information. </p>
      </div>
	    <div class="col-sm-6">
		    <h3 style="margin-top:0;">Work exp</h3>
		    <ul>
    			<li>
            Responsible for identifying and resolving large severity issues using SQL queries and Linux commands. Worked on JAVA spring framework for XPath routing
    			</li>
          <li>
            Worked in a team which was responsible for expanding the selection of Amazon's Catalog. Constructed complex SQL queries to analyze large data sets to assist business teams on making wise selection expansion decisions.
          <li>
            Responsible for core back-end technology development, including analysis, design, coding and testing
    			<li>
            	Wrote maintainable and extensible code in a team environment. Responsible for resolving issues that affect client’s web application functionality. Analyze software usability and performance , recommending changes to improve functionalities.
    			</li>
		    </ul>
	    </div>
    </div>
  </div>
</section>
