<section class="tout" id="projects">
    <div class="container">
      <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Projects</h2>
                <hr />
            </div>
        </div>
            <div class="row">
                <div class="col-sm-6">
		    <h3 style="margin-top:0">Academic Projects</h3>
			<ul>
  			<li>
          <b>Decision Tree Classifier : </b>Used ID3 Algorithm and Naive Bayes Classifier to predict the color of a flower.
Accuracy is calculated based on minimum leaf samples, tree depth and impurity measure.
    		</li>
  			<li>
			<b>Horror novels classification : </b>
          Identify authors of each
excerpt from the novels using Artificial Neural Networks (ANN) and Multinomial Naive Bayes Classifier(MNB)
  			</li>
			<li>
			<b>E-Commerce Web application : </b>
			Built a full-stack e-commerce web app that enabled users to order
and cancel products and use pre-loaded cards to buy. Java, JSF, Hibernate, MySQL
			</li>
  		    </ul>
			<p>Check out my <a href = "https://github.com/shridhish"> Github </a> for the source code and demo. </p>
			
			
		</div>
    <div class="col-sm-6">
      <h3 style="margin-top:0">Personal Projects</h3>
		  <ul>
  			<li> <b>Wave-Game : </b>
          Built a multi-threading JAVA 2D game using Canvas. Implemented collision detection
function, menu systems, enemy AI, read-save files for game loads, player customization, power ups.
    		</li>
  			<li> <b>MongoChat : </b>
          Built a Node.js chat application using the MEAN stack. MongoDB was used to store
messages and Socket.io for bi-directional communication.
  			</li>
			<li> 
			<b>Angular2 GithubSearch App : </b>
			Built an Angular 2 application that shows Github user profiles and
repositories using the Github API.
			</li>
			<li>
			<b>TextGeneratorApp : </b>
			</li>
			Built a dynamic text generating application using ReactJS.
  		    </ul>
  		    <h3>Other Things</h3>
  		    <ul>
  			<li>
           Volunteer at Boys and Girls club (since 2008)
  			</li>
  			<li>
  			  Active member of The Seattle Ruby on Rails Developers Meetup Group.
  			</li>
		   </ul>
      </div>
    </div>
  </div>
</section>
